<div class="navbar">
    <nav class="nav-top">
        <div class="nt-left">
            <i id="nav-btn" class="eva eva-menu-2-outline"></i>
            <h1 class="ntl-title">Au Bon Beurre</h1>
        </div>
        <div class="nt-right">
            <div class="ntr-profile">

            </div>
        </div>
    </nav>
    <nav id="nav-slide" class="nav-side hidden">
        <a class="ns-item" *ngFor="let item of items" routerLink="{{item.link}}">
            <i class="eva eva-{{item.icon}}"></i>
            <span [innerHTML]="item.label"></span>
        </a>
    </nav>
</div>