<div class="page-layout">
    <div class="pl-card finished-products">
        <div class="plc-chart">
            <canvas baseChart 
                    [datasets]="plcfpData"
                    [labels]="plcfpLabels"
                    [options]="plcfpOptions"
                    [plugins]="plcfpPlugins"
                    [legend]="plcfpLegend"
                    [chartType]="plcfpType">
            </canvas>
        </div>
    </div>
    <div class="pl-card sold-products">
        <div class="plc-chart">
            <canvas baseChart 
                    [data]="plcspData"
                    [labels]="plcspLabels"
                    [options]="plcspOptions"
                    [plugins]="plcspPlugins"
                    [legend]="plcspLegend"
                    [chartType]="plcspType">
            </canvas>
        </div>
    </div>
    <div class="pl-card tanks-temperatures">
        <div class="plc-chart">
            <canvas baseChart 
                    [datasets]="plcttData"
                    [labels]="plcttLabels"
                    [options]="plcttOptions"
                    [plugins]="plcttPlugins"
                    [legend]="plcttLegend"
                    [chartType]="plcttType">
            </canvas>
        </div>
    </div>
    <div class="pl-card ph-rate">PH Rate</div>
    <div class="pl-card salmonella-level">Salmonella Rate</div>
    <div class="pl-card ecoli-level">E-coli Rate</div>
    <div class="pl-card listeria-level">Listeria</div>